//обнулене
@import "nullstyle.scss";
//шрифт Pt Sanss
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body{
  background-color: rgb(53, 50, 50);
}
.conteiner{    
  max-width: 1000px;
  margin: 0 auto;
}
img{//временно
  max-width: 100%;
}
.wrapper{ 
  min-height: 100%;
   .header{
    margin-bottom: 40px;
    min-height: 120px;
    background-color: rgb(102, 60, 60);
    .menu_body{
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

       .menu_img{
        
        background-color: azure;
        min-width: 55px;
        min-height: 50px;
        border-radius: 50%;
       }
       .menu_list{

        display: flex;

 
        .menu_href{
          color: azure;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1.6px;

         padding-left: 50px;

        }
       }
    }
   }


}