@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active, :focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside, footer, header, nav {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus- inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: rgb(53, 50, 50);
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
}
.wrapper .header {
  margin-bottom: 40px;
  min-height: 120px;
  background-color: rgb(102, 60, 60);
}
.wrapper .header .menu_body {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .menu_body .menu_img {
  background-color: azure;
  min-width: 55px;
  min-height: 50px;
  border-radius: 50%;
}
.wrapper .header .menu_body .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .header .menu_body .menu_list .menu_href {
  padding-left: 50px;
}
.wrapper .header .menu_body .menu_list .menu_href a {
  color: azure;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.wrapper .content {
  margin-bottom: 20px;
}
.wrapper .content .grid .grid_net {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px 30px;
  -ms-grid-rows: minmax(100px, 500px), minmax(100px, 500px), minmax(100px, 500px), minmax(100px, 450px), minmax(100px, 450px);
  grid-template-rows: minmax(100px, 500px), minmax(100px, 500px), minmax(100px, 500px), minmax(100px, 450px), minmax(100px, 450px);
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "menu title title title title" "menu main main main main" "menu main main main main" "menu magazine magazine magazine magazine" "menu magazine magazine magazine magazine";
}
.wrapper .content .grid .grid_net .grid_item_menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  background-color: rgb(49, 92, 49);
  grid-area: menu;
}
.wrapper .content .grid .grid_net .grid_item_menu .content_grid_menu {
  padding-left: 20px;
}
.wrapper .content .grid .grid_net .grid_item_menu .content_grid_menu .menu_href {
  padding-top: 20px;
}
.wrapper .content .grid .grid_net .grid_item_menu .content_grid_menu .menu_href a {
  color: azure;
  letter-spacing: 1.5px;
  font-size: 16px;
}
.wrapper .content .grid .grid_net .grid_item_title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: title;
  color: azure;
}
.wrapper .content .grid .grid_net .grid_item_title .grid_item_title1 {
  font-size: 33px;
  font-weight: 600;
}
.wrapper .content .grid .grid_net .grid_item_title .grid_item_title2 {
  font-size: 27px;
  font-weight: 600;
  padding-top: 30px;
  letter-spacing: 1.5px;
}
.wrapper .content .grid .grid_net .grid_item_gallery {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 10px;
      grid-template-areas: "main main2" "main3 main4";
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: main;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_2_5 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: main2;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px 5px;
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_2_5 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_2_5 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_2_5 > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_2_5 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_6_9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main3;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px 5px;
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_6_9 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_6_9 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_6_9 > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_6_9 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .grid_item_gallery .grid_item_gallery_10 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: main4;
}
.wrapper .content .grid .grid_net .magazine_items {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: magazine;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .content .grid .grid_net .magazine_items > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.wrapper .content .grid .grid_net .magazine_items .magazine_card p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: azure;
  font-family: "Noto Sans";
  font-size: 20px;
}
.wrapper .content .grid .grid_net .magazine_items .magazine_card .card_button {
  background-color: rgb(140, 80, 40);
  width: 120px;
  height: 35px;
  color: azure;
  font-family: "Noto Sans";
  text-transform: uppercase;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.wrapper .content .grid .grid_net .magazine_items .magazine_card .card_button:hover {
  background-color: rgb(59, 141, 157);
}
.wrapper .footer {
  background-color: rgb(108, 61, 117);
}
.wrapper .footer .footer_items {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: azure;
  font-family: "Noto Sans";
  font-size: 14px;
}